/* * {
  border: 1px solid red
} */

.container-fluid{
  min-height: 100vh;
}

.logo-img{
  max-height: 200px;
  width: auto;
}

@media only screen and (max-width: 767px){
  .header-font{
    font-size: 1.3rem;
  }
}